:root {
    --max-width:1400px;
    
    --bg-image:url('/src/water1.gif');
    --bg-image2:url('/src/stars3.gif');
    --bg-color:#ff1c1c;
    --bg-header-color: #020f5e;
    --bg-bar-color: #090618b1;
    --bg-flex-color: #0f111e;
    --bg-sidebar-color: #090618b1;
    --bg-footer-color: #090618b1;
    --border-color: #6b42ff;
    --scrollbar-color:#6b42ff;

    --font-family:'Courier New';
    --font-size:16px;
    --font-color:#6b42ff;
    
    --header-height:90px;
    --header-bg-position:center center;
    --header-bg-size:contain;
    --header-bg-repeat:no-repeat;

    --top-bar-1:url('/src/kitty3d.gif');
    --top-bar-2:url('/src/kitty3d.gif');
    --top-bar-height:50px;
    --top-bar-width:60px;

    --bar-img:url('/src/a4.jpg');
    --row-padding:5px;

    --sidebar-width:15%;

    --divider-height:10px;
    --divider-position:center center;

    --contrastbg: #EAE1CC;
    --lightest: #EAE1CC;
    --light: #acbcae;
    --mid: #78a185;
    --shadow: #768677;
    --dark: #4a564a;
    --darkest: #191f19;

}

@font-face {
    font-family: "Martancallinedemo";
    src: url("/src/fonts/Martancallinedemo.ttf");
}

@font-face {
    font-family: "BelongFaithRegular";
    src: url("/src/fonts/BelongFaithRegular.ttf");
}

@font-face {
    font-family: "XwisthDemoVersion";
    src: url("/src/fonts/XwisthDemoVersion.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color);
    
}

body {
    background-color: #0f111e;
    background-image: var(--bg-image2);
    background-attachment:fixed;
    background-size: var(--bg-size);
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
}

body a {
    
    font-weight:bold;
    text-decoration:none;
}

body a:hover { 
    text-decoration:underline;
}

#container {
    max-width:var(--max-width);
    margin:0 auto;
}

.bar, .sidebar, .section, section, #footer 
{
    background-color:var(--bg-color);
}
.section, section 
{
    flex-grow:1;
}

.draggable {
    position: fixed;
    z-index: 1000;
    cursor: pointer;
}

#header {
    height: var(--header-height);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index:99;
    text-align: center;
}

h1 {
    color: rgb(211, 239, 118);
    
    font-style: calc(1, 2, 3);
    font-weight: 100;
    font-stretch: expanded;
    font-family:'Courier';
    font-variant: small-caps;

    animation-duration: 1s;
    animation-name: slidein_h1;
}

h2 {
    color: rgb(175, 191, 185);

    font-size: 100;
    font-weight: 100;
    font-family:'XwisthDemoVersion';
    animation-duration: 1s;
    animation-name: slidein_h2;
}

h3 {
    color: rgb(175, 191, 185);
    font-weight: 100;

}

.row 
{
    margin-bottom:var(--row-padding);
}

/* bar section */
.bar 
{
    height: 30px;
    border:1px solid var(--border-color);
    border-radius: 10px 10px 10px 10px;
    /* background-image: var(--bg-image); */
    background-color: var(--bg-bar-color);
    background-repeat:repeat-x;
    position:relative;
    z-index:-99;
}

.flair {
    position:absolute;
}

#bar-flair1
{
    margin-top:-40px;
    right:0;
    content:'';
    height:var(--top-bar-height);
    width:var(--top-bar-width);
    background-image:var(--top-bar-1);
    background-repeat:no-repeat;
}

#bar-flair2 
{
    margin-top:-40px;
    left:0;
    content:'';
    height:var(--top-bar-height);
    width:var(--top-bar-width);
    background-image:var(--top-bar-2);
    background-repeat:no-repeat;
}


/* bar section end */

/* flex section */
.flex {
    display:flex
}

.sidebar {
    padding:100px;
    border-radius: 10px 10px 10px 10px;
}

#content {
    width:80%;
    padding-top: 2%;
    padding-left: 2%;
    border-radius: 10px 10px 10px 10px;
    flex:1;
    border:1px solid var(--border-color);
    background-color: var(--bg-sidebar-color);

    display:block;
    font-size: 15px;
    background-color: #090618b1;

}

.hidden-div {
    width: 343px;
    height: 397px;
    background-color: #090618b1;
  
    border:1px solid var(--border-color);
 
    cursor: pointer;
    position: absolute;
}

#card1 {
    top: 50%;
    left: 12%;
    height: auto;

}

#card2 {
    width: 400px;
    height: 300px;
    top: 60%;
    left: 50%;
  
}

#card2 .card-content {
    height: 80%;
    overflow-y: scroll;
}

#card3 {
    width: 600px;
    height: 300px;
    top: 20%;
    left: 60%;
}



.header {
    color: rgba(139, 222, 212, 0.553);
    background-image: var(--bg-image);
    background-color: var(--border-color);
    height: 22px;
}

/* --- BUTTONS BEGIN */
.window {
    float: right;
    height: 25px;
    width: 25px;
    border-radius: 5px 5px 5px 5px;
    background-color: #b24a4a99;
    color: whitesmoke;
    
}

.window:hover {
    background-color: #ed1515bc;
    color: rgb(148, 145, 145);
}

.window:active {
    background-color: #a46e6e7a;
    color: whitesmoke;
}

.panel {
    padding-left: 80px;
    margin-left: 20px;
    text-align: center;
    float: left;
    height: 15px;
    width: 15px;
    object-position: center;
    background-color: var(--light);
    color: var(--light);
    border-radius: 2px 2px 2px 2px;
}

.panel:hover {
    background-color: #54a9a4;
}

.panel:active {
    background-color: #6e6b24;
}

/* --- BUTTONS  ENDS*/


.card-explorer {
    height: 26px;
    margin: 2px;
    padding: 3px;
    padding-top: 5px;
    text-align: left;
    border-top: 1px solid var(--lightest);
    border-left: 1px solid var(--lightest);
    outline: 1px solid var(--shadow);
    font-size: 13px;
    position: relative;
    background-color: var(--light);
    color: rgba(11, 4, 43, 0.725);
}

.card-explorer .nav-tab {
    padding: 2px;
    margin-left: 2px;
    padding-right: 10px;
}
  
.card-explorer .nav-tab:hover {
    box-shadow: 1px 1px 0px var(--shadow), -1px -1px 0px var(--lightest);
   
}
.card-explorer .nav-tab:active {
    box-shadow: 1px 1px 0px var(--lightest), -1px -1px 0px var(--shadow);
}


.centerText {
    text-align:center;
}
  
.sidebar 
{
    width:var(--sidebar-width);
    border:1px solid var(--border-color);
    background-color: var(--bg-sidebar-color);
    background-repeat:repeat-x;
    padding-top:5px;
}

.left {
    margin-right:var(--row-padding);
    
}

.right {
    margin-left:var(--row-padding);
    padding-left: 1%;
}

/* navigation begin */

nav ul {
    list-style-image: url('/src/wingedorb.gif');
    list-style-position:outside;
}

nav ul a  
{
    color:var(--link-color);
    text-decoration:none;
    display: list-item;
    padding-bottom:1px;
   
}


/* navigation ends */

/* flex section ends*/

#footer 
{
    height: 10px;
    border:1px solid var(--border-color);
    background-color: var(--bg-footer-color);
    background-repeat:repeat-x;
}

@keyframes slidein_h1 {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}


@keyframes slidein_h2 {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* .bubbles 
{
    position: relative;
    display: flex;
}
.bubbles span
{
    position: relative;
    width: 10px;
    height: 10px;
    background-color: rgb(131, 107, 217);
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgb(52, 61, 76),
    0 0 50px rgb(107, 217, 204),
    0 0 100px rgb(107, 217, 204);
    animation: animate 15s linear infinite;
    animation-duration: calc(100s / var(--i));
}
.bubbles span:nth-child(even)
{
    background: #821515;
    box-shadow: 0 0 0 10px #321519,
    0 0 50px rgb(166, 9, 56),
    0 0 100px rgb(217, 107, 158);
}

@keyframes animate 
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
} */