:root {
    --max-width:1400px;
    
    --bg-image-header1:url('/src/water1.gif');
    --bg-image-header2:url('/src/water1.gif');
    --bg-image-header3:url('/src/502f5cd58e6df31041b735c32ad7f7ee.gif');
    --bg-image2:url('/src/back.gif');

    --bg-color:#ff1c1c;
    --bg-bar-color: #090618b1;
    --bg-sidebar-color: #090618b1;
    --bg-footer-color: #090618b1;
    --border-color: #2c13e9;
    
    --scrollbar-color:#1a0f90;
    --scrollbar-bg-color:#0802416a;

    --font-family:'Courier New';
    --font-size:16px;

    --font-header-color1:rgb(211, 239, 118);
    --font-header-color2:rgb(175, 191, 185);

    --font-color1:#2f24c1;
    --font-color2:#681e30;
    --font-color3:#42468289;

    --href-color1:#4b39ae9b;
    --href-color2:#7a0606;
    
    --header-height:90px;

    --top-bar-1:url('/src/kitty3d.gif');
    --top-bar-2:url('/src/kitty3d.gif');
    --top-bar-height:50px;
    --top-bar-width:60px;

    --row-padding:5px;
    --sidebar-width:15%;

    --contrastbg: #a69f8e;
    --lightest: #b5b1c7;
    --light: #757881cd;
    --shadow: #4d474d;
    --dark: #272042;
    --darkest: #140b1b;
}

@font-face {
    font-family: "XwisthDemoVersion";
    src: url("/src/fonts/XwisthDemoVersion.ttf");
}

@font-face {
    font-family: "digital-7";
    src: url("/src/fonts/digital-7.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color);
}

body {
    
    background-image: var(--bg-image2);
    background-attachment:fixed;
    background-size: cover;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color1);
}

#body-home {
    background: none;
    font-size: 15px;
}

#body-about {
    background: none;
    font-size: 20px;
}


a {
    color: #777;
    text-shadow: 1px 1px 3px var(--href-color2), 1px -1px 3px var(--href-color1), -1px -1px 3px var(--href-color1), -1px 1px 3px var(--href-color1);
    text-decoration: none;
}
a:hover {
    text-shadow: 1px 1px 5px var(--href-color2), 1px -1px 5px var(--href-color2), -1px -1px 5px var(--href-color2), -1px 1px 5px var(--href-color2);
    color: blue;
    font-weight: bold;
    text-decoration: none;
}
a:visited {
    text-shadow: 1px 1px 3px var(--href-color1), 1px -1px 3px var(--href-color1), -1px -1px 3px var(--href-color1), -1px 1px 3px var(--href-color1);
    color: #777;
    text-decoration: none;
}

body a:hover { 
    text-decoration:underline;
}

#container {
    max-width:var(--max-width);
    margin:0 auto;
}

.bar, .sidebar, .section, section, #footer 
{
    background-color:var(--bg-color);
}

.section, section 
{
    flex-grow:1;
}

.draggable {
    position: fixed;
    z-index: 1000;
    cursor: pointer;
}

#header {
    margin-top: 50px;
    height: var(--header-height);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index:99;
    text-align: center;
}

h1 {
    color: var(--font-header-color1); 
    text-shadow: 1px 1px 10px var(--font-header-color1), 1px -1px 3px var(--font-header-color1), -20px -2px 20px var(--font-header-color1);

    font-weight: 100;
    font-stretch: expanded;
    font-family:'Courier';
    font-variant: small-caps;
    animation-duration: 1s;
    
}

h2 {
    color: var(--font-header-color2);
    font-size: 100;
    font-weight: 100;
    font-family:'XwisthDemoVersion';
    animation-duration: 1s;
}

h3 {
    color: rgb(141, 139, 150);
    font-weight: 1;
}

p {
    color: var(--font-color3);
    text-shadow: -3px 1px 4px var(--href-color2);
}

p1 {
    color: var(--font-color2); 
}

.row 
{
    margin-bottom:var(--row-padding);
}

/* bar section */
.bar 
{
    height: 30px;
    border:1px solid var(--border-color);
    border-radius: 10px 10px 10px 10px;
    /* background-image: var(--bg-image); */
    background-color: var(--bg-bar-color);
    background-repeat:repeat-x;
    position:relative;
    z-index:-99;
}

.flair {
    position:absolute;
}

#bar-flair1
{
    margin-top:-40px;
    right:0;
    content:'';
    height:var(--top-bar-height);
    width:var(--top-bar-width);
    background-image:var(--top-bar-1);
    background-repeat:no-repeat;
}

#bar-flair2 
{
    margin-top:-40px;
    left:0;
    content:'';
    height:var(--top-bar-height);
    width:var(--top-bar-width);
    background-image:var(--top-bar-2);
    background-repeat:no-repeat;
}


/* bar section end */

/* flex section */
.flex {
    display:flex
}

.sidebar {
    padding:100px;
    border-radius: 10px 10px 10px 10px;
}

#content {
    width:80%;
    padding-top: 2%;
    padding-left: 2%;
    border-radius: 10px 10px 10px 10px;
    flex:1;
    border:1px solid var(--border-color);
    background-color: var(--bg-sidebar-color);

    display:block;
    font-size: 15px;
    background-color: #090618b1;

}

#quote-block {
    padding: 10px;
    margin-top: 40%;
  
}

.hidden-div {
    width: 343px;
    height: 397px;
    background-color: #090618b1;
  
    border:1px solid var(--border-color);
 
    cursor: pointer;
    position: absolute;
}

#card1 {
    height: auto;
    top: 60%;
    left: 6%;
}

#card2 {
    width: 500px;
    height: 350px;
    top: 40%;
    left: 38%;

}

#card2 .card-content {
    height: 86%;
    padding: 5px;
    overflow-y: scroll;
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg-color);
    scrollbar-width: thin;
}

#card3 {
    width: 450px;
    height: 300px;
    top: 25%;
    left: 70%;
}

#card3 .card-content {
    height: 84%;
    padding: 5px;
    overflow-y: scroll;
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg-color);
    scrollbar-width: thin;
}

.header {
    color: rgba(139, 222, 212, 0.553);
    background-size: cover;
    background-color: var(--border-color);
    height: 22px;
}

#header1 {
    background-image: var(--bg-image-header1);
}

#header2 {
    background-image: var(--bg-image-header2);
}

#header3 {
    background-image: var(--bg-image-header3);
}

/* --- BUTTONS BEGIN */
.exit {
    float: right;
    height: 24px;
    width: 24px;
    border-radius: 1px 1px 1px 1px;
    border-color: #2203035e;
    background-color: #730b1e69;
    color: rgba(229, 230, 232, 0.397);
    
}

.exit:hover {
    background-color: #7e1414bc;
    color: rgb(148, 145, 145);
}

.exit:active {
    background-color: #a46e6e7a;
    color: whitesmoke;
}

.panel {
    padding-left: 80px;
    margin-left: 20px;
    text-align: center;
    float: left;
    height: 15px;
    width: 15px;
    object-position: center;
    background-color: var(--light);
    color: var(--light);
    border-radius: 2px 2px 2px 2px;
}

.panel:hover {
    background-color: #6d588e;
}

.panel:active {
    background-color: #6e6b24;
}

/* --- BUTTONS  ENDS*/

.card-explorer {
    height: 20px;
    margin: 1px;
    padding: 3px;
    padding-top: 2px;
    text-align: left;
    border-top: 1px solid var(--lightest);
    border-left: 1px solid var(--lightest);
    outline: 1px solid var(--shadow);
    font-size: 13px;
    position: relative;
    background-color: var(--light);
    color: rgba(11, 4, 43, 0.725);
}

.card-explorer .nav-tab {
    padding: 2px;
    margin-left: 2px;
    padding-right: 10px;
}
  
.card-explorer .nav-tab:hover {
    box-shadow: 1px 1px 0px var(--shadow), -1px -1px 0px var(--lightest);
   
}
.card-explorer .nav-tab:active {
    box-shadow: 1px 1px 0px var(--lightest), -1px -1px 0px var(--shadow);
}
  
.sidebar 
{
    width:var(--sidebar-width);
    border:1px solid var(--border-color);
    background-color: var(--bg-sidebar-color);
    padding-top:5px;
}

.left {
    margin-right:var(--row-padding);
    padding-top: 1%;
    padding-left: 5%;
}

.right {
    margin-left:var(--row-padding);
    padding-left: 1%;
}

/* navigation begin */

nav ul {
    list-style-image: url('/src/emailkitty.gif');
}

nav ul a  
{
    text-decoration:none;
    display: list-item;
    padding-bottom:10px;
    padding-left: 5px;
}

/* navigation ends */

/* flex section ends*/

#footer 
{
    height: 15px;
    border:1px solid var(--border-color);
    background-color: var(--bg-footer-color);
    background-repeat:repeat-x;
}

@keyframes slidein_h1 {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

