:root {
    --bg-color:#121212;
    --border-color:#880000;
    --bg-image:url('D:/User/Documents/Институт/site/src/star.gif');
    
    
    --scrollbar-color:#f98100;

    --font-family:'Verdana';
    --font-size:11px;
    --font-color:#d1d1a1;

}